  <!-- Footer -->
  <footer id="main-footer">
    <div>Cooking Website</div>
    <div>Project By: <a href="http://traversymedia.com" target="_blank">Vaidehi Patel</a></div>
    <div>Images Taken from: <a href="http://unsplash.com/s/photos/food" target="_blank">unsplash</a></div>
    <P>
      &copy <%= year %>
    </P>
    <script src="../../frontend.js"></script>
  </footer>

  </body>
  </html>