<%- include('partials/header') %>
<section id="section-c">
  <div class="content-wrap">
    <h4 class="content-title">What Inspired Me to Cook!</h4>
    <p>What can inspire a 20 year old to suddenly jog in to kitchen, grab the ingredients and make out some
      awesomely delicious dish.</p>
    <p>Ok, it sounds so weird to praise one self. Let me narrate you my story to kitchen.</p>
    <p>This was almost 12 years back, when I introduced myself to watch videos online and text recipes.. It was just
      a start for a foodie to see others cook..
      In a few hours itself, I was like i cant even miss a single recipe..I wanted to see all the recipes.. I used
      to sit and watch people to cook..
      <p>People who cook in a roadside stall to a 7 star restaurant..</p>
      Family members and guests who saw me using laptop for hours used to say, ”Dont play so much games. Its not
      good for your eyes”. I dint care..
      <br>It was a long time since i was watching others, I thought to give a try to a recipe. And, then made Butter
      Paneer Masala(my first dish).
      Believe it or not, I got compliments like it is the most “five stariest” dish, and so on by my family and
      relatives who visit seldom to our place.
      <p>This is all what happened, hope I fulfil my dream to try out every single “vegetarian” recipe in the most
        classic professional way.</p>

      <h4 class="content-title">After hardwork </h4>
      
      <p>It has been 5 year of my Cooking channel, What inspires me now-a-days is you all! I never ever thought
        that, people would watch my recipes, like them, comment on them, try them…
        But you all have inspired me, your comments inspire me to add more and more recipes..</p>

  </div>
</section>
<%- include('partials/footer') %>