<%- include('partials/header') %>
<section id="section-a" class="grid">
  <ul>
    <li>
      <div class="card">
        <img src="images/10.jpg" height=280 alt="">
        <div class="card-content">
          <h2 class="card-title">Winter Green Salad</h2>
          <p>This salad is a good way to get the greens by combining somewhat heartier salad textures.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <img src="images/2.jpg" height=280 alt="">
        <div class="card-content">
          <h2 class="card-title">Kadai Paneer Masala</h2>
          <p>Kadai Paneer is a popular paneer recipe where paneer and bell peppers are cooked in a spicy masala,
            butter and served with cream.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <img src="images/8.jpg" height=280 alt="">
        <div class="card-content">
          <h2 class="card-title">Apple Cider Mocktail Mule</h2>
          <p>Made with apple cider, real maple syrup, ginger beer and apple cider vinegar, this sweet and bubbly
            beverage has a surprising kick.</p>
        </div>
      </div>
    </li>
  </ul>
</section>
<%- include('partials/footer') %>