<%- include('partials/header') %>
<section id="section-d">
  <div class="contact-section">
    <h1>Contact Us</h1>
    <form class="contact-form" action="https://formsubmit.co/vaidehi_patel312@yahoo.com" method="post">
      <input type="text" class="contact-form-text" placeholder="Your Name">
      <input type="email" class="contact-form-text" placeholder="Your Email">
      <input type="text" class="contact-form-text" placeholder="Your Phone">
      <textarea class="contact-form-text" placeholder="Your Message"></textarea>
      <input type="submit" class="contact-form-btn" value="SUBMIT">
    </form>
  </div>
  <section>
    </main>

    <%- include('partials/footer') %>