<%- include('partials/header') %>

<header id="showcase">
  <div class="bg-image"></div>
  <div class="content-wrap">
    <h1>Welcome to Vaidehi's Kitchen</h1>
    <p>I am a Food-enthusiast, budding chef, a food junkie, a foodie.</p>
    <a href="#section-c" class="btn">Read More</a>
  </div>
  <ul class="social-icons list-inline">
    <li><a herf=""><i class="fa fa-facebook"></i></a></li>
    <li><a herf=""><i class="fa fa-twitter"></i></a></li>
    <li><a herf=""><i class="fa fa-instagram"></i></a></li>
    <li><a herf=""><i class="fa fa-google-plus"></i></a></li>
  </ul>
</header>
</section>

<%- include('partials/footer') %>